<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeano Elìas: Developer Fullstack</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://kit.fontawesome.com/9e18ac83e0.js" crossorigin="anonymous"></script>
</head>
<body class="portfolio">
    <header class="contain-header">
        <div class="header-responsive">
            <div class="button">
                <input type="checkbox" id="check">
                <label for="chek" class="checked"></label>
                <i class="fas fa-ellipsis-v"></i>
            </div>
            <div class="name-header">
                <h1 class="name">Galeano Elìas</h1>
            </div>
        </div>
        <div class="nav__header">
            <nav class="ul__flex">
                <ul class="contain-li">
                    <li class="li__flex">
                        <a href="#"><i class="fas fa-user"></i>About me</a>
                    </li>
                    <li class="li__flex">
                        <a href="#"><i class="fas fa-user-edit"></i>Soft kills</a>
                    </li>
                    <li class="li__flex">
                        <a href="#"><i class="fas fa-user-cog"></i>Hard kills</a>
                    </li>
                    <li class="li__flex">
                        <a href="#"><i class="fas fa-file-code"></i>Projects</a>
                    </li>
                    <li class="li__flex">
                        <a href="#"><i class="fas fa-id-badge"></i>Contact me</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header-desktop">
            <nav class="nav__header">
                <ul class="ul__flex">
                    <li class="li__flex"></li>
                    <li class="li__flex">About me</li>
                    <li class="li__flex">Skill & technologies</li>
                    <li class="li__flex">Projects</li>
                    <li class="li__flex">Contact me</li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Section About me -->

    

</body>
</html>