<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeano Elìas: Developer Fullstack</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://kit.fontawesome.com/9e18ac83e0.js" crossorigin="anonymous"></script>
</head>

<body class="portfolio">
    <div class="header">
        <header class="contain-header">
            <h1 class="name-header">Galeano Elìas</h1>
            <nav class="ul__flex">
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fas fa-ellipsis-v"></i>
                </label>
                <ul class="contain-li">
                    <li class="li__flex">
                        <a href="#"><i class="fas fa-user"></i>About me</a>
                    </li>
                    <li class="li__flex">
                        <a href="#"><i class="fas fa-user-edit"></i>Soft Skills</a>
                    </li>
                    <li class="li__flex">
                        <a href="#"><i class="fas fa-user-cog"></i>Hard Skills</a>
                    </li>
                    <li class="li__flex">
                        <a href="#"><i class="fas fa-file-code"></i>Projects</a>
                    </li>
                    <li class="li__flex">
                        <a href="#"><i class="fas fa-id-badge"></i>Contact me</a>
                    </li>
                </ul>
            </nav>
    </div>
    <div class="header-desktop">
        <nav class="nav__header-desktop">
            <ul class="flex__container-header">
                <li class="li__flex-item">About me</li>
                <li class="li__flex-item">Skills & technologies</li>
                <li class="li__flex-item">Projects</li>
                <li class="li__flex-item">Contact me</li>
            </ul>
        </nav>
    </div>
    </header>

    <!-- Section About me -->

    <!-- Footer section -->
    <footer>
        <div class="footer-flex">

        </div>
    </footer>
</body>

</html>