.footer-flex {
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background: var(--lightblack);
}

.footer__information {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    margin: 5px 0;
}

.footer__information article {
    width: 10em;
    border-bottom: 1px solid var(--bluishgreen2);
}

.footer__information article span {
    display: block;
    font-size: 20px;
    text-align: center;
    color: #fff;
    padding: 5px 0;
    margin: 5px 0;
}

.footer__information article ul li {
    color: #fff;
    padding: 5px 5px;
    margin: 5px 24px;
}

.footer__information article ul li a {
    display: inline-block;
    color: var(--purple);
    text-align: center;
    padding: 5px 0;
    margin: 5px 0;
}
.footer__information article ul li a i {
    display: inline-block;
    color: var(--bluishgreen);
    padding: 5px 7px;
    margin: 5px 0;
}

.footer__information article ul li a .fa-linkedin {
    color: #320fd1;
}

.footer__information article ul li a .fa-github {
    color: #fff;
}

.footer__information article ul li a .fa-envelope {
    color: #ca1e1e;
}

.footer-flex p {
    color: #fff;
    padding: 5px 0;
    margin: 5px 0;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    .footer-flex {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer__information {
        width: 50%;
    }

    .footer__information article {
        border-bottom: none;
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
    .footer-flex {
        flex-direction: row;
    }

    .footer__information {
        width: 50%;
    }

    .footer__information article {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-bottom: none;
    }

    .footer__information article ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer__information article ul li a {
        width: 100px;
    }

}
