.header-desktop {
    display: none;
}

.header {
    width: 100vw;
    height: 10vh;
}

.contain-header {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    width: 100%;
    height: 10%;
}

.contain-header .name-header {
    display: block;
    width: 100vw;
    font-size: 28px;
    font-family: var(--dancing);
    color: var(--lightblack);
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
    background: linear-gradient(-45deg, #6930C3, #64DFDF, #252525);
}

.ul__flex {
    display: block;
    position: absolute;
    font-size: 22px;
    color: var(--lightblack);
}

.ul__flex .checkbtn {
    display: block;
    margin: 14px 0;
    padding: 0 15px;
    float: right;
    font-size: 22px;
    color: var(--lightblack);
}

#check {
    display: none;
}

.ul__flex .contain-li {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100vw;
    height: 100vh;
    position: relative;
    background: var(--lightblack);
    top: -1000px;
    transition: all 1s;
    z-index: -1;
}

.contain-li .li__flex {
    margin: 15px;
    padding: 15px;
}

.contain-li .li__flex a {
    padding: 0 10px;
    color: var(--bluishgreen);
    font-size: 30px;
    font-family: var(--averia);
}

.contain-li .li__flex a i {
    padding: 0 10px;
    color: var(--purple);
    font-size: 30px;
}

#check {
    display: none;
}

#check:checked ~ .contain-li {
    top: 0;
}


@media only screen and (min-width:768px) and (max-width:1023px){

    .contain-header .name-header {
        font-size: 3em;
    }

    .ul__flex .checkbtn {
        font-size: 2em;
    }

    .ul__flex .contain-li {
        height: 93vh;
        margin: 1em 0;
        padding: 1em 0;
    }

    .contain-li .li__flex {
        padding: 1em 1em;
        margin: 2em 1em;
    }

}

@media only screen and (min-width:1024px) and (max-width:1439px) {
    .header {
        display: none;
    }

    .header-desktop {
        display: block;
        position: fixed;
        width: 100vw;
        height: 7vh;
        background: linear-gradient(-45deg, #6930C3, #64DFDF, #252525);
    }

    .nav__header-desktop {
        width: 100%;
        height: 100%;
    }

    .nav__header-desktop .flex__container-header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .flex__container-header .li__flex-item {
        font-size: 1em;
        font-family: var(--averia);
        padding: 1em;
    }

}