.header-desktop {
    display: none;
}

.header {
    width: 2em;
    height: 100vh;
    position: fixed;
    z-index: 200;
}

.contain-header {
    width: 100%;
    height: 100%;
    z-index: 100;
}

/* .contain-header .name-header {
    display: block;
    width: 100vw;
    font-size: 28px;
    font-family: var(--dancing);
    color: var(--lightblack);
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
    background: linear-gradient(-45deg, #6930C3, #64DFDF, #252525);
} */

.ul__flex {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    font-size: 22px;
    justify-content: flex-end;
}

.ul__flex .checkbtn {
    display: inline-block;
    padding: 12em 0.5em;
    background: linear-gradient(45deg, #64DFDF, #6930c3);
    color: var(--lightblack);
    z-index: 150;
}

.ul__flex .checkbtn .fa-bars {
    display: none;
}

#check {
    display: none;
}

.ul__flex .contain-li {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 13.1em;
    height: 100%;
    position: relative;
    background: var(--lightblack);
    left: -1000px;
    transition: all 1s;
    justify-content: space-evenly;
}

.contain-li .li__flex {
    margin: 15px;
    padding: 15px;
}

.contain-li .li__flex a {
    padding: 0 10px;
    color: var(--bluishgreen);
    font-size: 30px;
    font-family: var(--averia);
}

.contain-li .li__flex a i {
    padding: 0 10px;
    color: var(--purple);
    font-size: 30px;
}

#check {
    display: none;
}

#check:checked ~ .contain-li {
    left: 0;
    z-index: 50;
}


@media only screen and (min-width:768px) and (max-width:1023px){

    .header {
        width: 48em;
        height: 3.2em;
    }

    .header .contain-header {
        width: 100%;
        height: 100%;
    }

    .header .contain-header .ul__flex {
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-end;
        width: 100%;
        height: 2.255em;
    }

    /* .contain-header .name-header {
        font-size: 3em;
    } */

    .ul__flex .checkbtn {
        width: 100%;
        padding: 1.4px 0.4em 0 17em;
        font-size: 1.9em;
        background: linear-gradient(-45deg, #6930C3, #64DFDF, #252525);
    }

    .ul__flex .checkbtn .fa-angle-right {
        display: none;
    }

    .ul__flex .checkbtn .fa-bars {
        display: inline-block;
    }

    .ul__flex .contain-li {
        width: 34.9em;
        height: 34em;
        left: 0;
        top: -1000px;
    }

    .contain-li .li__flex {
        flex-wrap: nowrap;
        align-items: flex-end;
        margin: 0.8em;
        padding: 0.7em;
    }

    #check:checked ~ .contain-li {
        top: 0;
    }

}

@media only screen and (min-width:1024px) and (max-width:1439px) {

    .contain-header {
        display: none;
    }

    .header {
        width: 100%;
        height: 3.6em;
        position: fixed;
    }

    .header-desktop {
        display: block;
        position: fixed;
        width: 100%;
        height: 3.6em;
        background: linear-gradient(-45deg, #6930C3, #64DFDF, #252525);
    }

    .header-desktop .nav__header-desktop {
        height: 100%;
    }

    .header-desktop .nav__header-desktop .flex__container-header {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        font-family: var(--averia);
    }
}