.header-desktop {
    display: none;
}

.contain-header {
    display: flex;
    flex-flow: column wrap;
}

.header-responsive {
    display: flex;
    flex-direction: row-reverse;
    background: linear-gradient(-45deg, #6930C3, #64DFDF, #252525);
    height: 10vh;
}

.header-responsive .button {
    margin: auto 10px;
    padding: 7px 10px;
    font-size: 22px;
    color: var(--lightblack);
}

.header-responsive .name-header {
    display: inline-block;
    margin: auto;
}

.name-header .name {
    font-size: 28px;
    font-family: var(--dancing);
    color: var(--lightblack);
    margin: auto;
}

.nav__header {
    background: var(--purple);
}

.ul__flex .contain-li {
    display: flex;
    flex-direction: column;
    margin: 3px 0;
    padding: 4px 0;
}

.contain-li .li__flex {
    margin: 15px;
    padding: 15px;
}

.contain-li .li__flex a {
    padding: 0 10px;
    color: var(--lightblack);
    font-size: 30px;
    font-family: var(--averia);
}

.contain-li .li__flex a i {
    padding: 0 10px;
    color: var(--lightblack);
    font-size: 30px;
}
