@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@1,700&family=Staatliches&display=swap');
@import url('header.css');
@import url('footer.css');
@import url('variables.css');
@import url('home.css');
@import url('projects.css');