<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head') %> 
<body class="portfolio">
    <!-- Header section -->
    <%- include ('./partials/header') %> 

    <!-- Section About me -->
    <section class="about-me" id="home">
        <div class="img">
            <img src="/images/yo.png" alt="">
        </div>
        <article class="information">
            <div class="title">
                <span class="aboutme-title">Sobre mi</span>
            </div>
            <div class="presentation">
                <p class="paragraph">
                    Soy una persona que le gusta analizar las cosas de manera integral.
                    Por esto me aboque al desarrollo full-stack, creo que la
                    programación es una forma de mejorar la sociedad en la que
                    vivimos y por eso estoy buscando una primera experiencia en una
                    empresa con un propósito fuerte.
                </p>
            </div>
            <div class="redirects"></div>
        </article>
    </section>

    <!-- Footer section -->
    <%- include ('./partials/footer') %> 
</body>
</html>