<!-- Footer section -->
<footer class="footer-section">
    <div class="footer-flex">
        <section class="footer__information">
            <article>
                <span>Redes sociales</span>
                <ul>
                    <li><a href="https://www.linkedin.com/in/elias-david-galeano"><i class="fab fa-linkedin"></i>Linkedin</a></li>
                    <li><a href="https://github.com/galeanoelias"><i class="fab fa-github"></i>Github</a></li>
                    <li><a href="https://mail.google.com/mail/u/0/#inbox?compose=new"><i class="far fa-envelope"></i>Gmail</a></li>
                </ul>
            </article>
        </section>
        <section class="footer__information">
            <article>
                <span>Enlaces</span>
                <ul>
                    <li><a href="#home"><i class="fas fa-home"></i>Home</a></li>
                    <li><a href="#"><i class="far fa-folder-open"></i>Projects</a></li>
                    <li><a href="#"><i class="fas fa-child"></i>Contact me</a></li>
                </ul>
            </article>
        </section>
        <p>Copyright © Galeano Elias</p>
    </div>
</footer>