<!-- Header section -->
<header class="header">
    <div class="contain-header">
        <nav class="ul__flex">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-angle-right"></i>
                <i class="fas fa-bars"></i>
            </label>
            <ul class="contain-li">
                <li class="li__flex">
                    <a href="#"><i class="fas fa-user"></i>About me</a>
                </li>
                <li class="li__flex">
                    <a href="#"><i class="fas fa-user-edit"></i>Soft Skills</a>
                </li>
                <li class="li__flex">
                    <a href="#"><i class="fas fa-user-cog"></i>Hard Skills</a>
                </li>
                <li class="li__flex">
                    <a href="#"><i class="fas fa-file-code"></i>Projects</a>
                </li>
                <li class="li__flex">
                    <a href="#"><i class="fas fa-id-badge"></i>Contact me</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header-desktop">
        <nav class="nav__header-desktop">
            <ul class="flex__container-header">
                <li class="li__flex-item">About me</li>
                <li class="li__flex-item">Skills & technologies</li>
                <li class="li__flex-item">Projects</li>
                <li class="li__flex-item">Contact me</li>
            </ul>
        </nav>
    </div>
</header>